.page-login {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.box-login {
  background: whitesmoke;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: flex-start;
  width: 350px;
}

.box-form-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 300px;
}

.box-title-login {
  align-items: center;
  background: rgb(46, 64, 83);
  color: whitesmoke;
  display: flex;
  font-size: 2rem;
  font-weight: 900;
  height: 60px;
  justify-content: center;
  letter-spacing: -2px;
  padding: 10px 0;
  text-align: center;
  width: 350px;
}

.box-title-login span {
  color: rgb(211, 84, 0);
}

.box-title-login p {
  margin: 10px;
}

.login-input {
  border: solid 1px gainsboro;
  border-radius: 5px;
  margin: 20px 10px;
  outline: none;
  padding: 10px;
  width: 195px;
}

.label-input {
  font-weight: 900;
  margin-left: 10px;
}

.btn-input {
  background-color: rgb(46, 64, 83);
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
  font-size: 1.25rem;
  margin: 10px;
  padding: 5px 10px;
  width: 200px;
}

.btn-input:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  font-weight: 900;
}

.btn-input:active {
  filter: brightness(0.5);
}

.btn-input:disabled {
  background-color: white;
  border: solid 1px gainsboro;
  color: whitesmoke;
  cursor: none;
}
