.table-expenses {
  background: rgb(46, 64, 83);
  color: whitesmoke;
  display: flex;
  justify-content: center;
  width: 100%;
}

.table-expenses th {
  font-size: 0.75rem;
  height: 30px;
  width: 130px;
}

.table-body {
  background: rgba(211, 84, 0, 0.5);
  color: whitesmoke;
}

.table-body td {
  border-radius: 5px;
  font-size: 0.65rem;
  height: 30px;
  text-align: center;
  width: 130px;
}

.btn-expense {
  background-color: rgb(46, 64, 83);
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
  font-size: 0.65rem;
  margin: 2px;
  padding: 5px;
  width: 50px;
}
